@model IEnumerable<OA.Data.Model.Sach>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}

<h2>Index</h2>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table class="table table-condensed table-hover table-striped" style="border-top:solid 1px black">
            <thead style="color: green">
            <tr>
                <th>Id</th>
                <th>Tên sách</th>
                <th>Thể loại</th>
                <th>Tác giả</th>
                <th>Nhà xuất bản</th>
                <th>Năm xuất bản</th>
                <th>Ngày nhập sách</th>
                <th>Tình trạng</th>
                <th>Mượn</th>
            </tr>
            </thead>
            <tbody>
        
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td><a asp-action="BorrowBooks" asp-route-id="@item.Id">@item.Tensach</a></td>
                    <td>@item.TheLoai.TenTheLoai</td>
                    <td>@item.TacGia</td>
                    <td>@item.NhaXuatBan</td>
                    <td>@item.NamXuatBan</td>
                    <td>@item.NgayNhapSach.ToShortDateString()</td>
                    <td>@item.TinhTrang</td>
                    <td><a asp-action="BorrowBooks" asp-route-id="@item.Id">Mượn sách</a></td>
                    <td>
                        <i class="glyphicon glyphicon-edit"></i>
                        |
                        <i class="fa fa-trash"></i>
                    </td>
                </tr>
            }

            </tbody>
        </table>
    </div>
</div>
