@model IEnumerable<OA.Data.Model.DocGia>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}
@*<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
<h2>Danh sách độc giả</h2>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table class="table table-condensed table-hover table-striped" style="border-top:solid 1px black">
            <thead style="color: green">
            <tr>
                <th>Id</th>
                <th>Họ Tên</th>
                <th>Năm sinh</th>
                <th>Địa chỉ</th>
                <th>Email</th>
                <th>Loại độc giả</th>
                <th>Ngày lập thẻ</th>
                <th>Ngày hết hạn</th>
                <th>Sách đang mượn</th>
            </tr>
            </thead>
            <tbody>
        
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td >@item.HoTen</td>
                    <td>@item.NgaySinh.ToShortDateString()</td>
                    <td >@item.DiaChi</td>
                    <td >@item.Email</td>
                    <td >@item.LoaiDocGia.TenLoaiDocGia</td>
                    <td >@item.NgayLapThe.ToShortDateString()</td>
                    <td >@item.NgayHetHan.ToShortDateString()</td>
                    <td>
                       @foreach (var i in item.MuonTraSachs)
                       {
                           @i.Sach.Tensach <br />
                       }
                    </td>
                    <td>
                        <i class="glyphicon glyphicon-edit"></i>
                        |
                        <i class="fa fa-trash"></i>
                    </td>
                </tr>
            }

            </tbody>
        </table>
    </div>
</div>

